### https://raw.github.com/github/gitignore/218a941be92679ce67d0484547e3e142b2f5f6f0/Clojure.gitignore

pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/


.rebel_readline_history
